.Home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-div {
  width: 1200px !important;
  min-width: 1024px !important;
  height: 750px;
  position: relative;
  display: none;
  z-index: 1;
  margin-top: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: beige;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
    width: 100%;
    height: 700px;
}

.swiper-button-next::after {
  padding: 10px 20px;
  border-radius: 50px;
  color: black;
  background-color: rgb(215, 215, 215);
  margin-right: 20px;
}

.swiper-button-prev::after {
  padding: 10px 20px;
  border-radius: 50px;
  color: black;
  background-color: rgb(215, 215, 215);
  margin-left: 20px;
}

/* FEATURED SECTION STYLING */

.featured-div {
  width: 1200px;
  min-width: 1024px;
  height: 600px;
  background-color: #333333;
}

.featured-first-back-div {
  width: 100%;
}

.featured-second-back-div {
  width: 100%;
}

.featured-category-div {
  width: 1200px;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  z-index: 12;
}

.title-featured-section {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-featured-section > h1 {
  font-size: 28px;
  font-weight: 600;
}

.featured-cards-back-div {
  width: 1200px;
  min-width: 1024px;
  height: 1000px;
  display: flex;
  flex-direction: column;  
}

.featured-left-div {
  width: 600px;
  min-width: 300px;
  height: 600px;
  min-height: 300px;
  position: relative;
  background-color: yellowgreen;
  overflow: hidden;

}

.featured-left-div > img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.featured-details {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 15px;
  transition: 0.3s ease-in-out;
}

.featured-details > h1 {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333333;
}

.featured-details > span {
  color: #8E8E8E;
}

.featured-left-div:hover > .featured-details {
  bottom: 15px;
}

.featured-left-div:hover > img {
  transform: scale(1.1);
}




@media (max-width: 1024px) {
  .swiper-div {
    max-width: 1000px;
    min-width: 320px;
  }
}
