.newly-launched-back-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.newly-launched {
  max-width: 1200px;
  height: 50rem;
}

.newly-launched-title {
  margin-bottom: 60px;
  width: auto;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newly-launched-title > h1 {
  font-size: 38px;
}

.newly-launched-title > a {
  text-decoration: none;
  font-size: 20px;
  color: #fbbc34;
  font-weight: 700;
}

.newly-launched-swiper {
  width: 100%;
  height: 500px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newly-launched-card {
margin-right: 20px !important;
width: 300px !important;
}
